<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h1 th:text="${title}" style="text-align:center">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>
<div class="otherNav">
    <a class="btn btn-secondary" href="/tasks/add">Add List</a>
    <a class="btn btn-secondary" href="/tasks/remove">Remove List</a>
</div>
<table class="table">
    <tr>
        <th>ToDo List</th>
    </tr>
    <tr th:each="task : ${tasks}">
        <td><a th:href="@{'/tasks/add-remove-locations/' + ${task.id}}" th:text="${task.name}"></a></td>
    </tr>

</table>
<p th:if="${#lists.isEmpty(tasks)}">No ToDo Lists </p>
</body>
</html>